socnavbench.egg-info/
*.pyc
server/outdir
tmp/
*.swp
*.DS_Store
sd3dis/stanford_building_parser_dataset/
sd3dis/stanford_building_parser_dataset_raw/
surreal/code/human_meshes/
surreal/code/human_textures/
surreal/code/test_human_mesh_generation/
surreal/download/SURREAL/
surreal/code/get-pip.py
surreal/code/config
.vscode/
wayptnav_data/
tests/socnav/
.idea*
build/
dist/
scratch/
joystick/joystick_cpp/json.hpp
